.chat-screen {
  flex-grow: 1;
  display: flex;
  width: 100vw;
  height: 95vh;
  padding: 10px;
  gap: 10px;
  background: var(--bg-color);
  background-image: radial-gradient(circle at top right, rgba(var(--primary-rgb), 0.15), transparent 40%),
                    radial-gradient(circle at bottom left, rgba(var(--tertiary-rgb), 0.05), transparent 30%);
  overscroll-behavior-y: none;
  overflow-y: hidden;

  &__container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
 
  
  .outlined {
    border: 0.2vh solid #ddd !important;
    box-shadow: 0 .2vh .5vh rgba(0, 0, 0, .08) !important;
  }

  &__chat-window {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 8px;
    padding: 18px;
    gap: 5px;
    // position: relative;
    border-radius: 10px;
  }

  &__text-window {
    width: 100%;
    display: flex;
    height: 125px;
    gap: 8px;
  }

  &__input-container {
    flex-grow: 1;
    z-index: 10;
    padding: 1px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
  }
  &__message-input {
    // width: 100%;
    // background: #09090b; /* bg-background */
    // border: 1px solid #27272a; /* border-outline-variant */
    // border-radius: 1rem;
    // padding: 1rem 1.5rem; /* px-6 py-4 (md:py-5) */
    // color: #e4e1e6;   /* text-on-surface */
    // resize: none;
    // outline: none;
    // transition: border 0.2s;
    flex-grow: 1;
    resize: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1em;
    outline: 0;
    width: 0;
    padding: 5px;
    border: 0;
    &:focus {
      border-color: #a78bfa; /* focus:border-primary */
      box-shadow: 0 0 0 1px #a78bfa; /* focus:ring-primary */
    }
  }
  &__send-button {
    // position: absolute;
    // right: 1rem;
    // background: transparent;
    // padding: 0.5rem;
    // color: #a78bfa;   /* text-primary */
    // transition: color 0.2s;
    // &:hover { color: #c4b5fd; }   /* hover:text-primary-fixed-dim */
      display: flex;
      align-items: center;
      justify-content: center;
      width: 44px;
      height: 44px;
      background: 0 0;
      color: #9ca3af;
      margin-right: 4px;
      cursor: pointer;
      transition: transform 50ms ease, color 50ms ease;
  }
}